[
 {
   csvus,
   [{web_ip, "0.0.0.0"},
    {web_port, 7777},
    {db_host, "alexs-macbook-pro.local"},
    {db_port, 5432},
    {db_user, "alex"},
    {db_password, "password"},
    {db_name, "csvus"},
    {concurrency, 1}]
 },
 {
   episcina,
   [{max_restarts, 2000}, {max_seconds_between_restarts, 7200},
    {pools,
     [{primary, [{size, 2},
                 {timeout, 5000},
                 {connect_provider, {db, open, []}},
                 {close_provider, {db, close, []}}
                ]}]}]
 },
 {qdate, [{default_timezone, "CST"}]},
 {lager, []}
].
