%%-*- mode: erlang -*-

{deps,
 [
  {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
  {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", "master"}},
  {episcina, ".*", {git, "git://github.com/erlware/episcina.git", "master"}},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", "master"}},
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git",
                       "master"}},
  {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git",
                         "master"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git",    "master"}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
 ]
}.

{erl_opts, [{parse_transform, lager_transform}]}.
